.container { 
  background: url(../images/business_office_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.row.vertical-offset-100 {
    margin-top: 100px;
}

.centered {
	text-align: center;
}

#check-icon {
	background-color: #00aa9a;
}
